/* NAVIGATION */
.nav-list{
	height: 10vh;
    display: flex;
	justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: white;
} 

nav li{
    list-style: none;
}

.nav-links{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}

/* NAVIGATION CROSS */
.close {
    position: absolute;
    right: 200px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }  

/* NAVIGATION ANIMATION */
#nav-container {
	margin: 0 auto;
	width: 1200px;
    height: 700px;
    position: absolute;
}

.nav-linkz{
	text-decoration: none;
    color: #000000;
}

.nav-project{
	margin: 100px 0 0 50px;
	font-family: 'Arial', sans-serif;
	font-size: 50px;
	animation-name: project;
	animation-duration: 3.4s;
}

@keyframes project{
	from{ transform: translateX(500px); opacity: 0; }
	to{transform: translateX(0); opacity: 1;}
}

.nav-artwork{
	margin: 150px 0 0 850px;
	font-family: 'Arial', sans-serif;
	font-size: 50px;
	animation-name: artwork;
	animation-duration: 3.6s;
}

@keyframes artwork{
	from{ transform: translateX(900px); opacity: 0; }
	to{transform: translateX(0); opacity: 1;}
}

.nav-contacts{
	margin: 150px 0 0 20px;
	/* color: white; */
	font-family: 'Arial', sans-serif;
	font-size: 50px;
	animation-name: contacts;
	animation-duration: 4.6s;
}

@keyframes contacts{
	from{ transform: translateX(800px); opacity: 0; }
	to{transform: translateX(0); opacity: 1;}
}

//=================================================================================================================//

.hover-me{
    margin-left: 35%;
}

/* BACKGROUNDS */
.home{
	height: 100vh;
    position: absolute;
    width: 100%;
}

.uni{
	height: 100vh;
    position: absolute;
    width: 99%;
}

.projects{
	height: 90vh;
    position: absolute;
    width: 100%;
}


.home {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    overflow: hidden;
}

.uni{
    // background-image: linear-gradient(to top, #000000 10%, #3a3939 50%, #202020 60%);
    background-color: #000000;
    overflow: hidden;
}

.projects{
    background-color: #ffffff;
}

//=================================================================================================================//

/* CARD CONTAINER (INDEX) */
.container {
	width: 100%;
    height: 100vh;
	display: flex;
	justify-content: center;
    align-items: center;
}

.card-container{
	width: 500px;
    height: 500px;
}

.card{
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.card figure{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
    margin: 0;
}

.card .front{
    img{
        border-radius: 50%;
    }
}

.card .back{
    background-color: #000000;
    color: #ffffff;
    transform: rotateY(180deg);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    h1{
        font-size: 50px;
    }
   
}

/* SOCIAL ICONS */
.social-buttons{
    list-style: none;
    display: flex;
    li{
        padding: 10px 10px;
    }
}

.twitter-colour{
    background-image: url(../img/social_icons/twitter.png);
    border-radius: 100%;
}

.twitter-colour:hover{
    background-image: url(../img/social_icons/twitter_hover.png);
    background-color: #ffffff;
}

.gitHub-colour{
    background-image: url(../img/social_icons/github.png);
    border-radius: 100%;
}

.gitHub-colour:hover{
    background-image: url(../img/social_icons/github_hover.png);
    background-color: #ffffff;
}

.linkedIn-colour{
    background-image: url(../img/social_icons/linkedIn.png);
    border-radius: 100%;
}

.linkedIn-colour:hover{
    background-image: url(../img/social_icons/linkedIn_hover.png);
    background-color: #ffffff;
}

.gmail-colour{
    background-image: url(../img/social_icons/gmail.png);
    border-radius: 100%;
}

.gmail-colour:hover{
    background-image: url(../img/social_icons/gmail_hover.png);
    background-color: #ffffff;
}

//=================================================================================================================//

/* PROJECTS PAGE */
.container-projects{
    width: 100%;
    height: 90vh;
}

.image-scroll{
    width: 80%;
    height: 50vh;
    margin: 20vh auto 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: grey white;
    scrollbar-width: thin;
    img{
        max-height: 100%;
        width: auto;
    }
}

.responsive{
    margin: 18px 0 0 18px;
}

//=================================================================================================================//

/* PORTOFOLIO */
.project-scroll-container{
    width: 100%;
    height: 90vh;
    margin: auto;
    // overflow-y: scroll;
    // scrollbar-color: #aaaaaa #99ff8c;
    // scrollbar-width: thin;
}

.para-container{
    width: 60%;
    margin: 5em auto 0 auto;
}

.text-container{
    width: 100%;
    height: 100%;
}

iframe{
    width: 640px; 
    height: 385px;
    margin-top: 80px;
    margin-left: 52px;
}

.overlay {
    position: relative;
    width: 750px;
    height: 500px;
    object-fit:cover; 
    margin: auto; 
  }

.overlay img{
    position: absolute;
    width: 750px;
    height: 600px;
    pointer-events:none;
    // z-index:2;
}

.overlay-phone {
    position: relative;
    width: 760px;
    height: 420px;
    object-fit:cover; 
    margin: auto; 
  }

.overlay-phone img{
    position: absolute;
    width: 760px;
    height: 420px;
    margin-top: 55px;
    pointer-events:none;
    // z-index:2;
}

.overlay-pics {
    position: relative;
    width: 900px;
    height: 500px;
    object-fit:cover; 
    margin: auto; 
  }
  
  .overlay-pics img{
    position: absolute;
    object-fit:cover; 
  }

.git-img{
    max-height: 80px;
    max-width: 300px;
    margin: 60px auto 0 auto;
}

.git-img-phone{
    max-height: 80px;
    max-width: 300px;
    margin: 60px auto 0 auto;
}


//=================================================================================================================//

/* FONTS */
.headline-font{
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.title-font{
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.subtitle-font{
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
}

.para-font{
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 60px;
}

.font-white{
    color: #ffffff;
}

br{
    margin-bottom: 1.5em;
}

/* MEDIA */
// @media screen and (max-width: 1199px){
//     .container, 
//     img{
// 		width: 100%;
// 		height: 100%;
//     }
// }
  
// /* MEDIA */
// @media screen and (max-width: 255px){
//     .container-projects, 
//     .responsive{
// 		width: 100%;
// 		height: auto;
//     }
// }