.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-bottom: 30px;
  padding-top: 10px;
}

.inner-cover{
  padding: 0px;
  color: #FFFFFF;
  /*background-color: #584d3d;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  border-radius: 10px;

  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5B1112, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5B1112, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000000, #5B1112); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #5B1112, #053B47); /* Standard syntax */
}

.port-imgs{
	 padding: 0px;
	 text-align: center;
}

.title{
	text-align: center;
	padding-top: 50px;
}

.subtitle{
	margin-left: 30px;
}

.subheading,
.paragraph{
	margin-left: 60px;
	margin-right: 60px;
}

a:link {
    color: #00F8F0; 
    text-decoration: none;
}

a:visited {
    color: #33BCBE;
    text-decoration: none;
}

a:hover {
    color: #C10709;
    text-decoration: underline;
}

.dropbtn {
    display: inline-block;
    color: transparent;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(255,255,255,0.7);}

.dropdown:hover .dropdown-content {
    display: block;
}

.imgSize{
	width: 50%;
	height: 50%;
}

.imgSize2{
	width: 35%;
	height: 35%;
}

.imgSize3{
	width: 50%;
	height: 50%;
	margin-right: 40%;
	margin-top: 20px;
	margin-bottom: 30px;
	border: #FFFFFF 2px solid;
}
.imgSize4{
	width: 30%;
	height: 30%;
	margin-right: 60%;
	margin-top: 20px;
	margin-bottom: 30px;
	border: #FFFFFF 2px solid;
	/*border-color: white;*/
}

.inner-box {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    max-width: 450px;
    height: 250px;
    /*background-image: url('../img/innerbox1.jpg');*/
    background-color: #000000;
    border: #FFFFFF 2px solid;
}

.p5{
  padding: 0px;
  position: absolute;
}

.download{
	padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 50px;*/
    width: 50px;
   	height: 50px;
    background-color: white;
}

footer {
  padding: 25px 0;
  text-align: center;
  background: #FFFFFF;
}

#homeHeading{
	margin-top: 20px;
}