.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-bottom: 30px;
  padding-top: 10px;
}

.inner-cover{
  padding: 0px;
  color: #FFFFFF;
  /*background-color: #584d3d;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  border-radius: 10px;

  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5B1112, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5B1112, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000000, #5B1112); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #5B1112, #053B47); /* Standard syntax */
}

.port-imgs{
	 padding: 0px;
	 text-align: center;
}

.title{
	text-align: center;
	padding-top: 50px;
}

.subtitle{
	margin-left: 30px;
}

.subheading,
.paragraph{
	margin-left: 60px;
	margin-right: 60px;
}

a:link {
    color: #00F8F0; 
    text-decoration: none;
}

a:visited {
    color: #33BCBE;
    text-decoration: none;
}

a:hover {
    color: #C10709;
    text-decoration: underline;
}

.dropbtn {
    display: inline-block;
    color: transparent;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(255,255,255,0.7);}

.dropdown:hover .dropdown-content {
    display: block;
}

.imgSize{
	width: 50%;
	height: 50%;
}

footer {
  padding: 25px 0;
  text-align: center;
  background: #FFFFFF;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  background-color: #000000;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}