/* Padding for spacing */
.inner {
  	padding-bottom: 30px;
  	padding-top: 10px;
}

.inner-cover{
  	padding: 0px;
  	color: #FFFFFF;
  	margin-left: 20px;
  	margin-right: 20px;
  	margin-top: 0px;
  	border-radius: 10px;
	  border: #FFFFFF 2px solid;
  	background:#000000;
}

.port-imgs{
	 padding: 0px;
	 text-align: center;
}

.title{
	text-align: center;
	padding-top: 50px;
}

.subtitle{
	margin-left: 30px;
}

.subheading,
.paragraph{
	margin-left: 60px;
	margin-right: 60px;
}

a:link {
    color: #9e5e7d; 
    text-decoration: none;
}

a:visited {
    color: #33BCBE;
    text-decoration: none;
}

a:hover {
    color: #C10709;
    text-decoration: underline;
}

.inner-box {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.p5{
   
    height: 399px;
    bottom: 1px;
    left: 1px;
    position: relative;
}

footer {
  padding: 25px 0;
  text-align: center;
  background: #FFFFFF;
}

#homeHeading{
  margin-top: 10px;
}

.headerTitle{
  font-family: 'Open Sans', 'Helvetica Neue', Bodoni MT, Serif
}

.paraTitle{
  font-family: 'Open Sans', 'Helvetica Neue', Bodoni MT, Serif;
  font-size: 22px;
}

.imgCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#canvasCentre{
   /* position: absolute; */
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

/*.download{
  padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
}*/
/*.dropbtn {
    display: inline-block;
    color: transparent;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(255,255,255,0.7);}

.dropdown:hover .dropdown-content {
    display: block;
}*/

/*.imgSize{
	width: 50%;
	height: 50%;
}

.imgSize2{
	width: 35%;
	height: 35%;
}

.imgSize3{
	width: 50%;
	height: 50%;
	margin-right: 40%;
	margin-top: 20px;
	margin-bottom: 30px;
	border: #FFFFFF 2px solid;
}
.imgSize4{
	width: 30%;
	height: 30%;
	margin-right: 60%;
	margin-top: 20px;
	margin-bottom: 30px;
	border: #FFFFFF 2px solid;
	border-color: white;
}*/

/*.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
        box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
margin-left: auto;
}
*/